.navbar-brand {
	font-family: 'Merriweather', serif;
	font-size: 33px;
}

.navbar {
	position: relative;
	z-index: 3;
}

/*tron*/
.jumbotron {
	background-image: url('img/Head.jpg');
	background-size: cover;
	height: 540px;
	text-align: center;
	position: relative;

}

.jumbotron .container {
	z-index: 1;
	position: relative;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 70%;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}


.jumbotron .display-4 {
	padding-top: 100px;
	color: ghostwhite;
	margin-bottom: 30px;
	font-size: 40px;
	text-shadow:  2px 3px 5px rgba(0, 0, 0, 0.9);
}

.jumbotron .display-4 span {
	font-style: italic;
	color: whitesmoke;
	text-shadow: 0 0 4px white, 0 -5px 4px #FF3, 2px -10px 6px #FD3, -2px -15px 11px #F80, 2px -25px 18px #F20;
	font-size: 80px;
}

.panel {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -20px;
	background-color: whitesmoke;
	z-index: 1;
	padding: 30px;
}

.panel img {
	width: 85px;
	height: 85px;
	margin-right: 20px;
	bottom: 20px;
}

.panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.panel p {
	font-size: 14.3px;
	color: slategrey;
	margin-top: -5px;

}

.workingspace img {
	border-radius: 10px;
}

.workingspace {
	margin-top: 130px;
	text-align: center;
}

.workingspace h3 {
	font-size: 50px;
	text-transform: uppercase;
	margin-top: 30px;
	font-weight: 300;
}

.workingspace p {
	font-size: 18px;
	font-weight: 200;
	color: slategrey;
	margin-right: 31px 0;
	font-style: italic;
}

.workingspace h3 span {
	font-weight: 600;
}

.yntkts {
	color: red; 
}


.testimoni {
	margin-top: 100px;
}

.testimoni h5 {
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
}

.testimoni figure img {
	width: 70px;
	margin: 20px 11px 10px;
	opacity: 0.6;
}

.testimoni figure img.utama {
	opacity: 1;
	width: 100px;
	margin-top: 5px;
}

.testimoni figure h5 {
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	color: chocolate;

}

.testimoni figure p {
	font-size: 12px;
	color: slategrey;
	margin-top: -5px;

}
/*
.footer p {
	font-size: 18px;
	color: blueviolet;
}

.footer {
	margin-top: 90px;
	background-color: gainsboro;
}
*/

.kaki {
	background-color: #343a40;
	padding-top: 15px;
	color: ghostwhite;
	height: 70px;
}

/*utilitaz*/
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
}


/*DESKTOP VERSION*/
@media (min-width: 992px) {
	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	}
	.nav-link {
		text-transform: uppercase;
		margin-right: 31px;
	  }

  	.nav-link:hover::after {
  		content: '';
  		display: block;
  		border-bottom: 3px solid cornsilk;
  		width: 50%;
  		margin: auto;
  		padding-bottom: 5px;
  		margin-bottom: -8px;

  	}

  	.jumbotron {
  		margin-top: -75px;
  		height: 640px;
  	}

  	.jumbotron .display-4 {
  		font-size: 62px;
  		padding-top: 250px;
  	}

  	.workingspace {
  		text-align: left;
  	}

  	.testimoni h5 {
  		font-size: 32px;
  	}

  	.panel {
  		margin-top: -70px;
  	}
}